/* General styles for Authentication, Login, and Register components */

/* Container for the authentication form */
.auth-container {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header buttons for switching between Sign In and Sign Up */
.auth-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.auth-header button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-header .active {
    background-color: #BB000E;
    color: white;
}

.auth-header button:not(.active) {
    background-color: #DD0A18;
    color: white;
}

/* Form styles */
.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.auth-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.auth-form button {
    padding: 10px;
    background-color: #BB000E;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #DD0A18;
}

/* Icon styles */
.auth-form .input-icon {
    margin-right: 10px;
    color: #DD0A18;
}

/* Specific styles for inputs with icons */
.auth-form .input-group {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #BB000E;
    margin-bottom: 20px;
}

.auth-form .input-group input {
    border: none;
    outline: none;
    flex: 1;
}
