/* Activity styles */
.activity-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #444;
    color: white;
}

.activity-item p {
    margin: 0;
    color: red;
    font-size: 14px;
}

/* Sidebar styles */
.sidebar {
    width: 60px;
    background-color: #BB000E;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background-color: #dd0a18;
}

.sidebar ul li .icon {
    margin-right: 10px;
}

.latest-activities {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.latest-activities h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.toggle-button {
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: #BB000E;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    align-self: flex-end;
}
