/* src/routes/dashboard/dashboard.css */

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2C2C2C;
    color: white;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
}
