/* src/routes/dashboard/dashboard.css */

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2C2C2C;
    color: white;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 60px;
    background-color: #BB000E;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;
}

.sidebar.expanded {
    width: 250px;
}

.main-content {
    flex: 1;
    padding: 20px;
}
